<fragment th:fragment="full" xmlns:th="http://www.thymeleaf.org">
    <h1>The Puma Suede Story — Almost 50 years of iconic style</h1>
    <div th:fragment="cut">
        <noscript>
            <img src="https://www.img.sneakerate.com/puma-suede-story.jpg" title="Puma Suede" alt="Puma Suede" />
        </noscript>
        <img class="resized_image" hidden="true" name="https://www.img.sneakerate.com/puma-suede-story.jpg" title="Puma Suede" alt="Puma Suede" />
        <p>
            Considered as a simple and comfortable shoe, it became a perfect lifestyle sneaker. Its thick, rubber sole and rounded silhouette crafted in tough suede — it is impossible to walk around any city and do not see it at least once. A witness to many defining moments in history, it has been on top of trends almost 50 years since it first hit our shelves. Though it’s now deeply rooted in street culture, the Suede’s history actually begins in the world of professional sports. Let’s retrace the steps of this absolutely necessary item in any fashionable collection to find out how it was involved in the birth and growth of an entire musical genre, became one of the first ever sporting endorsements and was part of an iconic Olympic moment.
        </p>
    </div>
    <h2>1960s</h2>
    <p>
        When released in 1968, <a href="https://www.sneakerate.com/sneaker/puma-suede" title="The Puma Suede"><b>the PUMA Suede</b></a> training shoe was already inimitable. The high-quality supple suede, that white Puma swoop, the easygoing silhouette stepped away from the typical status quo of canvas and leather-based shoes. The Puma Suede’s introduction to the world took place during the 1968 Summer Olympic Games.  The Suede bore witness to one of the most recognisable moments in Olympic history - 200m gold and bronze medallists Tommie Smith and John Carlos were on the podium after receiving their medals when the American national anthem played and they made their now infamous human rights salute (often referred to now as “The 1968 Olympics Black Power salute”). That instantly became an iconic image of the era.
    </p>
    <noscript>
        <img src="https://www.img.sneakerate.com/puma-suede-olympic-moment.jpg" title="Puma Suede — Olympic Moment" alt="Puma Suede — Olympic Moment" />
    </noscript>
    <img class="resized_image" hidden="true" name="https://www.img.sneakerate.com/puma-suede-olympic-moment.jpg" title="Puma Suede — Olympic Moment" alt="Puma Suede — Olympic Moment" />
    <p>
        They both were immediately banned from the olympics village and banned for ever from the american athletic team, their careers as runners were immediately broken. The Suedes were alongside the two shoeless men. After that the Puma Suede inadvertently came to global attention and became at this point a symbol of resistance against racism. Of course, this moment’s importance transcends any sneaker, but it’s worth noting that Smith ran to victory wearing those shoes. In a short time the PUMA Suede was the choice of fashion leaders on the street and in the sporting arena.
    </p>
    <h2>1970s</h2>
    <p>
        The path to international recognition continued with basketball legend Walt ‘Clyde’ Frazier. The New York Knicks legendary point guard customized the shoe with a wider platform and, in the process, created the first custom basketball sneaker. With the introduction of the ‘Clyde’ he then became the first basketball player to ever have a shoe named after him. In one year alone, two million pairs were sold.
    </p>
    <noscript>
        <img src="https://www.img.sneakerate.com/puma-clyde-ads.jpg" title="Puma Clyde Ads" alt="Puma Clyde Ads" />
    </noscript>
    <img class="resized_image" hidden="true" name="https://www.img.sneakerate.com/puma-clyde-ads.jpg" title="Puma Clyde Ads" alt="Puma Clyde Ads" />
    <p>
        Also it’s hard to talk about the Suede without giving nod to its huge influence on skate culture in the late ’70s. Their unique style at the skateboard contest turned the skate culture upside down — they became famous around the world, and Suede with it. It was this shift in culture that inspired Puma to work directly with skateboarders, getting their input in designing skater shoes that would give them better support.
    </p>
    <h2>1980s</h2>
    <p>
        From there, the Suede quickly rose in popularity on the streets. Away from the basketball courts, the Suede has had a long-standing love affair with B-Boy culture and hip-hop. Indeed, the Hip-hop and the breakdance bring these sneakers on the light. The sneaker’s different colors, texture and laces allow the breakers to appropriate it and tune their look. Puma Suede will even be adopted by legendary crews like The Rock Steady Crew, the NYC Breakers or the singer Grand Master Flash. Check out all those early 80s breakdance and rap videos and you’ll see it's the footwear of choice.
    </p>
    <figure class="youtube_video" video_id="1vT947Dt4m4" />
    <p>
        Around the same time, it made its way across the pond, becoming a sneaker of choice for UK football casuals, but the apparent exclusivity to US retailers of the modified Clyde earned the Suede silhouette a third moniker in Europe: the States. The Puma Suede became in these 80’s an icon.
    </p>
    <h2>1990s – 2000s</h2>
    <p>
        The Suede has continued its development to become one of the most-loved shoes in history. During the '90s and '00s, they have become the shoe of choice for creative types everywhere. From punk rockers to street artists, it seems that Suedes have struck a chord in individuals the world over.
    </p>
    <h2>Today</h2>
    <p>
        And it’s crazy to think that this legacy footwear continues to burn hot rubber tracks in modern-day with fresh new updates and style iterations at every turn. Throughout time, the Puma Suede has become one of the world’s most legendary sneakers. And it is still involved in skateboarding. Here is Joey Brezinski, performing a back 180 nosegrind at Stoner park in his Puma Suedes:
    </p>
    <noscript>
        <img src="https://www.img.sneakerate.com/joey-brezinski-nosegrind.jpg" title="Joey Brezinski, performing a back 180 nosegrind at Stoner park in his Puma Suedes" alt="Joey Brezinski, performing a back 180 nosegrind at Stoner park in his Puma Suedes" />
    </noscript>
    <img class="resized_image" hidden="true" name="https://www.img.sneakerate.com/joey-brezinski-nosegrind.jpg" title="Joey Brezinski, performing a back 180 nosegrind at Stoner park in his Puma Suedes" alt="Joey Brezinski, performing a back 180 nosegrind at Stoner park in his Puma Suedes" />
    <p>
        As a one man army, he worked as team manager, sales rep and brand manager for the entire skate division in PUMA.
    </p>
    <figure class="youtube_video" video_id="Ck7NdMmw3aY" />
    <p>
        There is a good reason why the Suede hasn’t really changed much over the past 50 years – it pretty much looks good with everything. That is why they’ve been having a nonstop moment ever since they’ve been introduced in the yester-decades.
    </p>
</fragment>